.send_btn{
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1rem;
}

.form_input input{
    padding: 10px 25px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

.form_input textarea{
    border: 1px solid #ddd;
    font-size: 1rem;
}